# Build and Release Folders
bin-debug/
bin-release/
release/
temp/
src/assets/tools/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.actionScriptProperties
.flexProperties
build.properties
