# Build and Release Folders
bin-debug/
bin-release/
release/
src/assets/tools/android
temp/
[Oo]bj/
[Bb]in/
src/assets/tools/monaserver/MonaBase/
src/assets/tools/monaserver/MonaCore/
src/assets/tools/monaserver/work/logs
src/assets/tools/monaserver/work/MonaServer
src/assets/tools/monaserver/work/MonaServer.exe

# Other files and folders
.settings/

# Executables
*.swf
*.air

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.actionScriptProperties
.flexProperties
build.properties

# Folder view configuration files
.DS_Store

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
build.properties
